/*color ref!
dark blue: #1f375b
light blue: #caf1f3
gold: #fbcb5f
gray: #b3b3b3
*/


@font-face {
font-family: 'Sifonn Pro';
font-style: normal;
font-weight: normal;
src: local('Sifonn Pro'), url('../css/SIFONN_PRO.woff') format('woff');
}

h1{
	font-family: 'Sifonn Pro', sans-serif;
	font-size: 80px;
	color: #fbcb5f;
}
h2{
	font-family: 'Sifonn Pro', sans-serif;
	color: #fbcb5f;
	font-size: 40px;
}

.w3-bar, body, p, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
}

.fa-anchor,.fa-coffee {
	font-size:200px;
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
}

	ol, ul {
		list-style: none;
	}
header {
	background-color: #1f375b;
	overflow: hidden;
}
.nav {
			background-color: #1f375b;
      overflow: hidden;
			font-family: 'Sifonn Pro', sans-serif;
  }
a {
	text-decoration: none;
}
.nav a {
      float: left;
			color: #caf1f3;
  		background-color: #1f375b;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }
.nav a:hover {
			background-color: #caf1f3;
			color: #1f375b;
  }

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
.content{
	padding: 14px 16px;
}
footer {
	position: relative;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	overflow: hidden;
	background-color: #1f375b;
	color: #caf1f3;
}





@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.video {
	border-right: none;
 border-left: none;
	position: relative;
	bottom: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;
	/*
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 2; */
}
.video:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  background-image: linear-gradient(rgba(31, 55, 91, 0), rgba(31, 55, 91, 1));
  width: 100%;
  height: 75%;
  top: 25%;
  left: 0;
}

video {
  width: 100%;
  margin-top: -15%;
  opacity: 0.50;
}
