/*color ref!
dark blue: #1f375b
light blue: #caf1f3
rgb(202, 241, 243)
gold: #fbcb5f
gray: #b3b3b3
*/

.info-box {
	display: none;
}


@font-face {
font-family: 'Sifonn Pro';
font-style: normal;
font-weight: normal;
src: local('Sifonn Pro'), url('../css/SIFONN_PRO.woff') format('woff');
}

h1{
	font-family: 'Sifonn Pro', sans-serif;
	font-size: 80px;
	color: #fbcb5f;
}
h2{
	font-family: 'Sifonn Pro', sans-serif;
	color: #fbcb5f;
	font-size: 40px;
	text-transform: uppercase;
}

.w3-bar, body, p, h3, h4, h5, h6 {
	font-family: "Open Sans", sans-serif;
}

.fa-anchor,.fa-coffee {
	font-size:200px;
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
}

ol, ul {
		list-style: none;
	}

.nav {
			background-color: #1f375b;
      overflow: hidden;
			font-family: 'Sifonn Pro', sans-serif;
  }
a {
	text-decoration: none;
}
.nav a {
      float: left;
			color: #caf1f3;
  		background-color: #1f375b;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
  }
.nav a:hover {
			background-color: #caf1f3;
			color: #1f375b;
  }

.content{
	padding: 14px 16px;
}
footer {
	position: relative;
	bottom: 0;
	background-color: #1f375b;
	color: #caf1f3;
}
.footer a:hover{
	color: #f3f3f3;
}
.head{
	background-color: #1f375b;
	padding:50px 0px 0px 0px;
}

.w3-bar{
	background-color: rgb(31, 55, 91);
}
/* Default to hide the video on all devices */
#video{display:none}

/* Default to display the image on all devices */
#videosubstitute{display:block;width:auto;height:100vh;}

html, body {
	 height: 100%;
	 margin: 0;
}
#fullScreenDiv{
	 width:100%;
	 min-height: 100%;
	/* Set the height to match that of the viewport.
	 height: 100vh; */
	 width: auto;
	 padding:0!important;
	 margin: 0!important;
	 background-color: white;
	 position: relative;

	 background-image: linear-gradient(rgba(31, 55, 91, 0), rgba(31, 55, 91, 1));
}
#video{
	 width: 100vw;
	 height: auto;
	 object-fit: cover;
	 left: 0px;
	 top: 0px;
	 z-index: 1;

	 opacity: 0.35;
	 overflow: hidden;
}

@media (min-aspect-ratio: 16/9) {
 #video{
	 height: 150%;
	 top: -100%;
 }
 #videosubstitute{
	 display:block;
	/* width: 100%;
	 height: auto; */
 background-size: contain;}
}

@media (max-aspect-ratio: 16/9) {
 #video {
	 width: 150%;
	 left: -100%;
 }
 #videosubstitute{display:block;width:auto;height:100%;}
}
/*if there is 992  pixels or more, then display the video but hide the image*/
@media only screen and (min-width : 992px) {
#video{display:block;}
#videosubstitute{display:none}
}

/* The container for our text and stuff */
#messageBox{
	 position: absolute;
	 top: 30%;
	 left: 0;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 width: 100%;
	 height:70%;
}
.after{
	display: none;
}

@media screen and (max-width : 1269px) {
	#map{display:none;}
	.info{margin:auto;text-align: center!important;width:100%;}
	.after{display:block;}
	.before{display: none;}
}
